<!DOCTYPE html>
<html>

<head>
    <title>Project 1</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="/javascripts/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/scriptFuncs.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


</head>

<body>
<nav class="navbar navbar-custom" role="navigation" ng-controller="NavCtrl">
    <ul class="nav nav-pills nav-justified">
        <li class="notactive"><a href="/first.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li class="active"><a href="/index.html"><span class="glyphicon glyphicon-share"></span> Post Tweets</a></li>
        <li style="margin:0 0 0 800px" class="active"><a id="user" href="/home.html"></a></li>
        <li class="active"><a id="logout" href="">Log Out</a></li>
    </ul>
</nav>
<div class="container">




    <div class="container" align="center">
        <a class="twitter-timeline" href="https://twitter.com/csuf473DH" data-widget-id="716782617618550784" width="500">Tweets by @csuf473DH</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

</div>

</body>

</html>